#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.commentCard {
    width: 400px;
    margin-bottom: 16px;
    padding: 16px;
}

.commentCard-header {
    margin-bottom: 8px;
    font-size: 16px;
}

.commentCard-email {
    font-size: 14px;
    color: #888;
    margin-left: 8px;
}

.commentCard-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 16px;
}
.commentCard-file {
    margin-bottom: 16px;
}

.commentCard-actions {
    display: flex;
    justify-content: space-between;
}

.commentForm-form{
    width: 400px;
    margin: 0 auto,
}